[Unit]
Description=Telegram P2P Bot
After=network.target

[Service]
ExecStart=node bot.js
ExecReload=node bot.js
WorkingDirectory=/opt/p2p-telegram
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target